{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}

  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Student List</h2>
    <hr class="star-dark mb-5">
    <table class="table">
      <thead>
        <th>
          Name
        </th>
        <th>
          Last
        </th>
        {% if perms.course.is_teacher %}
        <th>
        </th>
        <th>
        </th>
        {% endif %}
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          {% if perms.course.is_teacher %}
            <td><a href="{% url 'course:edit_student' student.id %}" class="btn btn-info">Edit</a></td>
            <td><a href="{% url 'course:delete_student' student.id %}" class="btn btn-danger">Delete</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if perms.course.is_teacher %}
    <div class="container">
      <a class="btn btn-primary" href="{% url 'course:create_student' %}">New student</a>
    </div>
  {% endif %}

{% endblock %}
